body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.form-330 {
    width: 330px;
}

.interest-row {
    margin-left: 20px;
}

.description {
    margin-left: 20px;
}

.event {
    margin-left: 30px;
}