{% extends "base.html" %}
{% block content %}

<div class="container">
    <form class="center-block form-330" method="post" action="">
        <h2>Register</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <br>
	
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	{% block body %}{% endblock %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>

{% endblock %}